<svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" width="210mm" height="297mm" viewBox="0 0 210 297" version="1.1" id="svg5" inkscape:version="1.1.2 (b8e25be833, 2022-02-05)" sodipodi:docname="drawing.svg">
  <title id="title6642">aa</title>
  <sodipodi:namedview id="namedview7" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" inkscape:document-units="mm" showgrid="false" inkscape:zoom="0.7500982" inkscape:cx="57.325827" inkscape:cy="561.25984" inkscape:window-width="1920" inkscape:window-height="1046" inkscape:window-x="-11" inkscape:window-y="-11" inkscape:window-maximized="1" inkscape:current-layer="layer1"/>
  <defs id="defs2">
    <rect x="-406.61343" y="378.61709" width="175.97696" height="62.658462" id="rect5000"/>
    <rect x="-519.93192" y="317.29179" width="175.97696" height="102.65323" id="rect4488"/>
  </defs>
  <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
    <text xml:space="preserve" transform="scale(0.26458333)" id="text4486" style="font-size:48px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:none;white-space:pre;shape-inside:url(#rect4488);font-weight:normal;font-style:normal;font-stretch:normal;font-variant:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal"><tspan x="-519.93164" y="360.96473" id="tspan6656">RH</tspan></text>
    <text xml:space="preserve" transform="scale(0.26458333)" id="text4998" style="line-height:1.25;font-family:Sans;font-size:24px;-inkscape-font-specification:'Sans, Normal';font-variant-ligatures:none;white-space:pre;shape-inside:url(#rect5000)"/>
  </g>
  <metadata id="metadata6640">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:title>aa</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>